##PAIR PROGRAMMING 3 - LISTAS 2

1 - Cread una lista con 10 números aleatorios entre el 0 y el 100:

In [7]:

import random
lista = random.sample(range(1,100), 10)

In [15]:
print(lista)

[35, 18, 21, 24, 41, 7, 27, 68, 11, 88]

2 - ¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado:

In [9]:
len(lista)

10

3 - Extraed el número que está en la tercera posición:

In [10]:
lista[2]

21

4 - Extraed el número que esta en la tercera posición utilizando los índices negativos:

In [11]:
lista[-8]

21

5 - Preguntad al usuario por un número de la lista que hemos creado en el primer paso, recordad que para eso tendréis que usar la función input. ¿En que posición esta el número que ha eligido la usuaria?

In [16]:
numero_lista = input('Escoja un numero')

In [17]:
print(numero_lista)

88

In [20]:
lista.index(88)

9

6 - Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). Esto nos tendrá que devolver una lista de 3 elementos:

In [21]:
lista[3:6]

[24, 41, 7]

7 - Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos. Os debe devolver una lista con 4 números:

In [22]:
lista[-4:]

[27, 68, 11, 88]

8 - ¿Cuáles son los numéros que están en las posiciones pares nuestra lista?

In [23]:
lista[::2]

[35, 21, 41, 27, 11]

9 - ¿Y los que están en posiciones impares?

In [24]:
lista[1::2]

[18, 24, 7, 68, 88]

10 - ¿Qué nota ha sacado Lupe? Para este ejercicio os pedimos que uséis primero el método index() de listas y luego lo índices con [] de las listas. Para esto tendréis que sacar primero en que posición esta Lupe en la lista nombres y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe:

In [25]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

In [26]:
nombres.index('Lupe')

2

In [27]:
notas[2]

9.8

11 - De la misma forma, ¿qué alumna a sacado la nota más alta?

In [28]:
max(notas)

9.8

In [20]:
notas.index(9.8)

2

In [21]:
nombres[2]

'Lupe'

12 - ¿Qué alumna a sacado la nota más baja? ¿Es esta nota mayor que 5?

In [22]:
notas.index(8.5)

1

In [ ]:
nombres[1]

'Lorena'

In [ ]:
min_notas=min(notas)
print(min_notas)

8.5

In [ ]:
min_notas>5

True

13 - Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden:

In [ ]:
notas_nuevo_orden=sorted(notas, reverse=True)
print(notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

14 - Ordenad las notas de las alumnas de menor a mayor. Usa el método que sobreescriba la variable notas.

In [ ]:
notas.sort()
print(notas)

[8.5, 8.9, 9, 9.2, 9.8]

15 - Ordenad la lista de nombres de mayor a menor. ¿Qué es lo que ha pasado?

In [ ]:
nombres.sort()
print(nombres)

['Laura', 'Lorena', 'Loreto', 'Lucía', 'Lupe']

16 - Borrad la lista de notas:

In [ ]:
del(notas)
print(notas)

NameError: name 'notas' is not defined

In [ ]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [ ]:
principio_semana = lunes, martes, miercoles
print(principio_semana)

([34, 56, 82], [99, 64, 24], [12, 59, 71])

In [ ]:
principio_semana = lunes + martes + miercoles
print(principio_semana)

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [ ]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [ ]:
lunes.insert(0,100)
print(lunes)

[100, 34, 56, 82]

In [ ]:
miercoles.insert(3,100)
print(miercoles)

NameError: name 'miercoles' is not defined

In [ ]:
martes1 = [55, 89, 71]

In [ ]:
martes1.insert(2,100)
print(martes1)

[55, 89, 100, 71]