In [5]:
nombres_amigos = input("Dime el nombre de tres amigos")
print(nombres_amigos)

carlos, pepe, natalia

In [9]:
lista_nombres = nombres_amigos.split(", ")
print(lista_nombres)

['carlos', 'pepe', 'natalia']

In [10]:
alturas_amigos = input("Dime la estatura de tus amigos")

In [11]:
print(alturas_amigos)

1.67, 1.87, 1.70

In [13]:
lista_alturas = alturas_amigos.split(",")
print(lista_alturas)

['1.67', ' 1.87', ' 1.70']

In [15]:
lista_alturas = [float(i) for i in lista_alturas]
print(lista_alturas)

[1.67, 1.87, 1.7]

In [19]:
lista_nombres.sort(reverse=True)
print(lista_nombres)

['pepe', 'natalia', 'carlos']

In [20]:
lista_alturas.sort(reverse=True)
print(lista_alturas)

[1.87, 1.7, 1.67]

In [21]:
max(lista_alturas)

1.87

In [22]:
min(lista_alturas)

1.67

In [24]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

lista_lista = [[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [27]:
lista_lista=[lista1, lista2]
print(lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [28]:
lista_numeros = lista1 + lista2
print(lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [34]:
print(lista_lista.count(67))

0

In [32]:
print(lista_numeros.count(67))

2

In [ ]:
#En la lista_lista tenemos dos listas y el sistema no sabe donde buscar el número. En cambio, en la lista_numeros tenemos una única fila de números por lo que sí se puede encontrar.

In [35]:
lista_numeros.reverse()
print(lista_numeros)

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]