In [4]:
#1
import random
lista = random.sample(range(1,100), 10)

In [5]:
print(lista)

[34, 55, 51, 83, 48, 23, 97, 17, 28, 41]

In [6]:
len(lista)

10

In [7]:
lista[2]

51

In [8]:
lista[-8]

51

In [9]:
numero_lista = input('Escoja un numero')

In [10]:
print(numero_lista)

46

In [11]:
lista.index(46)

ValueError: 46 is not in list

In [12]:
lista[3:6]

[83, 48, 23]

In [13]:
lista[-4:]

[97, 17, 28, 41]

In [14]:
lista[::2]

[34, 51, 48, 97, 28]

In [ ]:
lista[1::2]

[65, 97, 50, 12, 87]

In [15]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

In [16]:
nombres.index('Lupe')

2

In [18]:
notas[2]

9.8

In [19]:
max(notas)

9.8

In [20]:
notas.index(9.8)

2

In [21]:
nombres[2]

'Lupe'

In [22]:
notas.index(8.5)

1

In [ ]:
nombres[1]

'Lorena'

In [ ]:
min_notas=min(notas)
print(min_notas)

8.5

In [ ]:
min_notas>5

True

In [ ]:
notas_nuevo_orden=sorted(notas, reverse=True)
print(notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

In [ ]:
notas.sort()
print(notas)

[8.5, 8.9, 9, 9.2, 9.8]

In [ ]:
print(notas)

[8.5, 8.9, 9, 9.2, 9.8]

In [ ]:
nombres.sort()
print(nombres)

['Laura', 'Lorena', 'Loreto', 'Lucía', 'Lupe']

In [ ]:
del(notas)
print(notas)

NameError: name 'notas' is not defined

In [ ]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [ ]:
principio_semana = lunes, martes, miercoles
print(principio_semana)

([34, 56, 82], [99, 64, 24], [12, 59, 71])

In [ ]:
principio_semana = lunes + martes + miercoles
print(principio_semana)

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [ ]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [ ]:
lunes.insert(0,100)
print(lunes)

[100, 34, 56, 82]

In [ ]:
miercoles.insert(3,100)
print(miercoles)

NameError: name 'miercoles' is not defined

In [ ]:
martes1 = [55, 89, 71]

In [ ]:
martes1.insert(2,100)
print(martes1)

[55, 89, 100, 71]